* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-shadow: border-box;
    
    a {
        text-decoration: none;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBEBEE;

    .text {
        color: #14213D;
        text-align: center;
    }
    
    .text-notes {
        font-size: 16px;
    }

    .links {
        display: flex;
    }

    .link-column {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
    }

    .item {
        position: relative;
        border: 2px solid transparent;
        background-color: #F7F8F9;
        transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .item:hover {
        background-color: #fff !important;
        border: 2px solid #3E66BD;
        cursor: pointer;
        transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    .tooltip {
        align-items: center;
        background-color: #fff;
        border-radius: 16px;
        color: #14213D;
        display: flex;
        gap: 4px;
        justify-content: center;
        left: 50%;
        opacity: 0;
        padding: 4px 12px;
        pointer-events: none;
        position: absolute;
        top: 113px;
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out;
        width: max-content;
        display: none;
    }
}

// MOBILE
@media (max-width: 760px){
    body {
        width: calc(100vw - 32px);
        height: calc(100vh - 32px);
        padding: 16px;
        gap: 32px;

        .text-title {
            font-size: 32px;
        }

        .text-body {
            font-size: 16px;
        }

        .links {
            gap: 16px;
    
            .item {
                align-items: center;
                display: flex;
                justify-content: center;
                // padding: 16px;
                border-radius: 16px;
                width: 64px;
                height: 64px;

                i {
                    font-size: 32px;
                    color: #2C4885;
                } 
            }
        }

        .desktop {
            display: none;
        }
        
        .mobile {
            display: flex;
        }
    }
}

// DESKTOP
@media (min-width: 761px){
    body {
        width: calc(100vw - 240px);    
        height: calc(100vh - 240px);
        padding: 120px;
        gap: 64px;

        .item:hover .tooltip {
            opacity: 1;
            display: flex;
        }

        .text-title {
            font-size: 48px;
            text-align: center;
        }

        .text-body {
            font-size: 24px;
        }

        .links {
            gap: 16px;
    
            .item {
                width: 96px;
                height: 96px;
                align-items: center;
                display: flex;
                justify-content: center;
                // padding: 16px;
                border-radius: 16px;

                i {
                    font-size: 64px;
                    color: #2C4885;
                }
            }
        }

        .desktop {
            display: flex;
        }

        .mobile {
            display: none;
        }
    }
}