* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-shadow: border-box;
}
* a {
  text-decoration: none;
}

body {
  background-color: #2D2C2A;
  padding: 16px;
}
body .main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body .main .main__name {
  display: flex;
  flex-direction: column;
  gap: 0;
}
body .main .main__links {
  display: flex;
  gap: 16px;
}
body .main .main__links .main__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  background-color: #454545;
  color: white;
}
body .main .main__links .main__link:hover {
  background-color: #5E5E5E;
}
body .main .main__links .main__link:active {
  outline: 1px solid white;
}
body .main .main__availability {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  border: 1px solid #9DD3C7;
}
body .main .main__cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
body .main .main__cards .card {
  display: flex;
  width: -webkit-fill-available;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 16px;
  background: #454545;
}
body .main .main__cards .card .card__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .main .main__cards .card .card__link {
  font-size: 24px;
  color: #3AE5E2;
}
body .main .main__cards .card .card__links {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
}
body .main .main__cards .card .card__links .link__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background: #2C2C2C;
}
body .main .main__cards .card .card__links .link__item .link--color {
  font-size: 24px;
  color: white;
}
body .main .main__cards .card .card__links .link__item:hover {
  background-color: #5E5E5E;
  cursor: pointer;
}
body .main .main__cards .card .card__links .link__item:hover p {
  color: white;
}
body .main .main__cards .card .card__links .link__item:active {
  outline: 1px solid white;
}
body .main .main__cards .card--cursor:hover {
  cursor: pointer;
}
body .main .main__cards .card--cursor:active {
  outline: 1px solid white;
}

@media (min-width: 761px) {
  body {
    padding: 32px 240px;
  }
  body .main .main__links .main__link {
    height: 48px;
    width: 48px;
  }
}
:root .color--white-pure {
  color: #FFFFFF;
}
:root .color--white-bright {
  color: #EDEDED;
}
:root .color--white-medium {
  color: #D4D4D4;
}
:root .color--white-soft {
  color: #A1A1A1;
}
:root .color--black-dark {
  color: #2C2C2C;
}
:root .color--black-medium {
  color: #454545;
}
:root .color--black-soft {
  color: #5E5E5E;
}
:root .color--black-gray {
  color: #787878;
}
:root .color--one {
  color: #9DD3C7;
}
:root .color--two {
  color: #5B91C0;
}
:root .color--three {
  color: #3AE5E2;
}

:root .text-h1--regular {
  font-weight: 400;
  font-size: 24px;
}
:root .text-h2 {
  font-size: 20px;
  font-weight: 500;
}
:root .text-body {
  font-size: 16px;
}
:root .text-caption {
  font-size: 12px;
}/*# sourceMappingURL=styles.css.map */