* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-shadow: border-box;
    
    a {
        text-decoration: none;
    }
}

body {
    background-color: #2D2C2A;
    padding: 16px;

    .main {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .main__name {
            display: flex;
            flex-direction: column;
            gap: 0;
        }

        .main__links {
            display: flex;
            gap: 16px;

            .main__link {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 32px;
                width: 32px;
                border-radius: 8px;
                background-color: #454545;
                color: white;
            }

            .main__link:hover {
                background-color: #5E5E5E;
            }

            .main__link:active {
                outline: 1px solid white;
            }
        }

        .main__availability {
            width: max-content;
            display: flex;
            padding: 4px 12px;
            justify-content: center;
            align-items: center;
            gap: 4px;

            border-radius: 16px;
            border: 1px solid #9DD3C7;
        }

        .main__cards {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .card {
                display: flex;
                width: -webkit-fill-available;
                padding: 16px;
    
                flex-direction: column;
                align-items: flex-start;
                gap: 8px;
    
                border-radius: 16px;
                background: #454545;

                .card__title {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                .card__link {
                    font-size: 24px;
                    color: #3AE5E2;
                }

                .card__links {
                    width: 100%;
                    display: flex;
                    gap: 16px;
                    align-items: center;

                    .link__item {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 16px;
                        padding: 16px;

                        border-radius: 16px;
                        background: #2C2C2C;

                        .link--color {
                            font-size: 24px;
                            color: white;
                        }
                    }

                    .link__item:hover {
                        background-color: #5E5E5E;
                        cursor: pointer;

                        p {
                            color: white;
                        }
                    }

                    .link__item:active {
                        outline: 1px solid white;
                    }
                }
            }

            .card--cursor:hover {
                // background-color: #3AE5E2; 
                cursor: pointer;
            }

            .card--cursor:active {
                outline: 1px solid white;
            }
        }
    }
}

@media (min-width: 761px) {
    body {
        padding: 32px 120px;

        .main {
            .main__links {        
                .main__link {
                    height: 48px;
                    width: 48px;
                }
            }
        }
    }
}

// COLORS
:root {
    .color--white-pure {
        color: #FFFFFF;
    }
    
    .color--white-bright {
        color: #EDEDED;
    }
    
    .color--white-medium {
        color: #D4D4D4;
    }
    
    .color--white-soft {
        color: #A1A1A1;
    }
    
    .color--black-dark {
        color: #2C2C2C;
    }
    
    .color--black-medium {
        color: #454545;
    }
    
    .color--black-soft {
        color: #5E5E5E;
    }
    
    .color--black-gray {
        color: #787878;
    }
    
    .color--one {
        color: #9DD3C7;
    }
    
    .color--two {
        color: #5B91C0;
    }
    
    .color--three {
        color: #3AE5E2;
    }
}

// TEXT
:root {
    .text-h1--regular {
        font-weight: 400;
        font-size: 24px;
    }
    
    .text-h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .text-body {
        font-size: 16px;
    }

    .text-caption {
        font-size: 12px;
    }
}